@import "node_modules/angular-material/angular-material.scss";

.arboles-card {
  font-size: 60px;
  margin-top: 10px;
}

.EcoDesafio-card {
  border: 1px solid white;
  border-radius: 10px;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }